*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #001155;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #EE888B;
    letter-spacing: 0.25px;
    font-size: 4rem;
}

h4 {
    color: #EE888B;
    width: 50%;
    margin-top: 1rem;
    font-weight: normal;
    letter-spacing: 0.1px;
}