header {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    background: #fff;

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.basket {
    & li {
        display: inline-block;
        list-style-type: none;
        width: 30%;
        margin: 30px 1.5%;
        text-align: center;
    }

    & button {
        border-radius: 10px;
        cursor: pointer;
    }

    & header {
        & div {
            float: right;
            position: relative;
            z-index: 1;
        }

        & h1 {
            float: left;
        }
    }
}

.zoom {
    position: absolute;
    width: 40px;
    opacity: 0;
    top: 0;
    left: 0;
    animation: zoom 1.5s ease forwards;
}

@keyframes zoom {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: calc(100vw - 80px);
        top: 40px;
    }
}