html {
  background-color: #212121;
}

body {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* spinner */
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #c181fc;
  -webkit-animation: spinnerOne 1s linear infinite forwards;
          animation: spinnerOne 1s linear infinite forwards;
}

.spinner div:nth-child(2) {
  border: 2px solid transparent;
  border-bottom-color: #c181fc;
  -webkit-animation: spinnerTwo 1s linear infinite forwards;
          animation: spinnerTwo 1s linear infinite forwards;
}

@-webkit-keyframes spinnerOne {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 2px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@keyframes spinnerOne {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 2px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@-webkit-keyframes spinnerTwo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 2px;
  }
}

@keyframes spinnerTwo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    border-width: 2px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 2px;
  }
}

/* bouncing balls */
.bouncing-balls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
  height: 100px;
}

.bouncing-balls div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #60bef5;
  -webkit-animation: bouncingAnimation 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
          animation: bouncingAnimation 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.bouncing-balls div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0.8;
}

.bouncing-balls div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0.6;
}

.bouncing-balls div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0.4;
}

@-webkit-keyframes bouncingAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes bouncingAnimation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

/* flipping squares */
.flipping-squares {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-perspective: 250px;
          perspective: 250px;
}

.flipping-squares div {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background-color: #c8ff32;
  -webkit-animation: flippingAnimation 2s linear infinite;
          animation: flippingAnimation 2s linear infinite;
}

.flipping-squares div:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0.5;
}

@-webkit-keyframes flippingAnimation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0);
            transform: rotateX(180deg) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}

@keyframes flippingAnimation {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(0) rotateY(180deg);
            transform: rotateX(0) rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
            transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(180deg) rotateY(0);
            transform: rotateX(180deg) rotateY(0);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
}
/*# sourceMappingURL=index.css.map */