body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	max-width: 400px;
	margin: 2.5rem auto;
	text-align: center;
}

nav {
	padding: 6px;
}

nav ul {
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

.book-list {
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}

.book-list ul {
	padding: 0;
	list-style-type: none;
}

.book-list li {
	padding: 10px;
	margin: 10px auto;
	border-radius: 10px;
}

.theme-toggler {
	border: 1px solid #212121;
	border-radius: 4px;
	background: none;
	padding: 6px 12px;
	color: #212121;
	outline: none;
	letter-spacing: 0.25px;
	cursor: pointer;
}

.theme-toggler:hover {
	box-shadow: 0 0 10px rgba(32, 32, 32, 0.25);
}