*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #AFBFBE;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #5D06E9;
    letter-spacing: 0.25px;
    font-size: 4rem;
}

h4 {
    color: #5D06E9;
    width: 50%;
    margin-top: 1rem;
    font-weight: normal;
    letter-spacing: 0.1px;
}

a {
    color: inherit;
    transition: all 0.25s ease;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
    background-color: #CBEAE9;
}